body, html {
  width:100%;
  height:100%;
  background: url("bokeh.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
  

header {
  background-color: none;
}

.text-uppercase {
  color: Black;
  text-decoration: underline;
  text-decoration-color: Black;
  font-size: 3em;
}

.buffer {
  height: 150px;
}

.btn-outline-secondary {
  background-color: Black;
  font-size: 2em;
  border: none;
}

a {
  color: blue`														;
  color: blue;
  text-shadow: 2px 2px black;
}

